{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if category_posts %}
  <h4 id="h4-tag" class="mb-4">{{ cats }}</h4>

  <div class="row">
    {% for post in category_posts %}
    <div class="col-sm-6">
      <div class="card post-card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <small class="text-secondary" id="small-tag">
              <i class='bx bx-user pr-1'></i> {{ post.author.first_name }} {{ post.author.last_name }}
            </small>
          </div>
          <div>
            <small class="text-secondary" id="small-tag">
              <i class='bx bx-time px-1'></i> {{ post.post_date }}
            </small>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title">
              {{ post.title }}
          </h6>
          <p class="card-text">{{ post.body|slice:":100"|safe }}</p>
          <a href="{% url 'article_detail' post.pk %}" class="btn text-primary p-0">
            <small>read more...</small>
          </a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
{% else %}
  <div class="card alert-card">
    <div class="card-body">
      <h5 class="d-flex align-items-center"> <i class='bx bx-error pr-1 m-0 h4' style='color:#c1b601'></i>Please check your category</h5>
      <p class="my-3">Sorry, at the moment there is no post in the  <i class="text-danger">{{ cats }}</i> category!</p>
    </div>
  </div>
{% endif %}
{% endblock %}
